## Pass back the result from DynamoDB. **
               {
  "id": "$ctx.result.id.S",
  "userId": $ctx.result.userId.N,
  "createdAt": "$ctx.result.createdAt.S",
  "payLoad": $ctx.result.payLoad.S
}
                